{% raw %}
global
    maxconn {{or (key "service/haproxy/maxconn") 256}}
    debug

defaults
    mode http
    timeout connect {{or (key "service/haproxy/timeouts/connect") "5000ms"}}
    timeout client {{or (key "service/haproxy/timeouts/client") "50000ms"}}
    timeout server {{or (key "service/haproxy/timeouts/server") "50000ms"}}

frontend qa_mailcatcher_smtp
    bind :1025 name smtp
    mode tcp
    default_backend qa_mailcatcher_smtp

frontend qt_mailcatcher_smtp
    bind :1026 name smtp
    mode tcp
    default_backend qt_mailcatcher_smtp

frontend www
    bind *:80
    default_backend mesos_slaves

backend qa_mailcatcher_smtp
    mode tcp{{range service "qa.mailhog-smtp" }}
    server {{.ID}} {{.Address}}:{{.Port}} check{{end}}

backend qt_mailcatcher_smtp
    mode tcp{{range service "qt.mailhog-smtp" }}
    server {{.ID}} {{.Address}}:{{.Port}} check{{end}}

backend mesos_slaves
    server coreos04 curl 0.0.0.0:80 check
    server coreos05 10.66.1.159:80 check
    server coreos06 10.66.1.160:80 check
{% endraw %}
