global
    maxconn {{or (key "service/haproxy/maxconn") 256}}
    debug

defaults
    mode http
    timeout connect {{or (key "service/haproxy/timeouts/connect") "5000ms"}}
    timeout client {{or (key "service/haproxy/timeouts/client") "50000ms"}}
    timeout server {{or (key "service/haproxy/timeouts/server") "50000ms"}}

frontend www
    bind *:80 name meh
    default_backend mesos_slaves

backend mesos_slaves
    server coreos04 10.66.1.158:80 check
    server coreos05 10.66.1.159:80 check
    server coreos06 10.66.1.160:80 check
